{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static '{css/home.css}' %}">
{% endblock css %}

{% block main %}
<div>
    <h1>ABOUT US</h1>
    <p>Welcome to Hari Om general store</p>
   <br><br> <p>At Hari Om, we believe that great ideas deserve to be captured on high-quality paper with elegant, reliable tools. Whether you're a student, a professional, or a creative spirit, our stationery products are designed to inspire productivity, creativity, and style in every project.</p>
    <br><p>Our Mission<br><br>
        Our mission is simple: to provide you with the finest stationery products that turn everyday writing, note-taking, and planning into a pleasure. We carefully curate our selection to include premium notebooks, pens, planners, and desk accessories that enhance both form and function.</p>
        <br><p>Why Choose Us?<br><br>
        Quality Products: We partner with trusted brands and artisans to bring you high-quality materials, including eco-friendly options.
       <br> Customer-Centered: Your satisfaction is our priority. From personalized recommendations to a seamless shopping experience, we aim to meet your needs at every step.
        <br>Sustainability: We’re committed to offering sustainable and ethically sourced stationery, helping you stay organized while being environmentally conscious.
    </p><br>
    <p>Our Story<br><br>
        Founded in [Year], [Your Store Name] began as a passion project fueled by our love for beautiful, functional stationery. What started as a small local shop has grown into a thriving online community of stationery enthusiasts who value quality, craftsmanship, and design.</p>
    
</div>

{% endblock main %}