{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static '{css/home.css}' %}">
{% endblock css %}

{% block main %}


<h1>SEARCH RESULT:</h1>
<div class="container2"> 
    {% for i in search %}
      
    
    <div class="homepro">
        <img src="{{i.pimage.url}}">
            <p style="font-weight: bold;">{{i.pname}}</p>
            <p class="card-text">  <strong>Price:</strong> ₹ {{i.offer_price}}  <del>₹{{i.price}}</del>  </p>
            <p class="card-text">  <strong>Details:</strong>  {{i.description}}  </p>
            <a href="/product_details/{{i.id}}/"><button>ADD TO CART</button></a> 
            
    </div>
    {% endfor %}
    </div>
  
  
  
  
      </div><br><br><br><br>

{% endblock main %}