{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static '{css/home.css}' %}">
{% endblock css %}

{% block main %}
<div class="book-selector">
    <h1>Select Your Favorite Book Type</h1>
    <label for="book-type">Choose a book category:</label>
    <select id="book-type" onchange="location = this.value;">
        <option value="#">--Select--</option>
        <option value="/storybook/1/">Story Books</option>
        <option value="/biography/2/">Biographies</option>
    </select>
</div>

<h1>STORY BOOKS</h1>
<div class="container2"> 
    {% for i in storybook %}
      
    
    <div class="homepro">
        <img src="{{i.pimage.url}}">
            <p style="font-weight: bold;">{{i.pname}}</p>
            <p class="card-text">  <strong>Price:</strong> ₹ {{i.offer_price}}  <del>₹{{i.price}}</del>  </p>
            <p class="card-text">  <strong>Details:</strong>  {{i.description}}  </p>
            <a href="/product_details/{{i.id}}/"><button>ADD TO CART</button></a> 
            
    </div>
    {% endfor %}
    </div>
  
  
  
  
      </div><br><br><br><br>

{% endblock main %}